@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4>
<hr />

@if (@Model.Clients.Count == 0)
{
<h3><em>This stylist has no clients.</em></h3>
}
else 
{
  <h3>Clients:</h3>
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
}
<hr>
<p>@Html.ActionLink("Add a client", "Create", "Clients")</p>
<p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to stylist list", "Index")</p>
