@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)</h3>

<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<p>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId})</p>
<p>@Html.ActionLink("Delete this client", "Delete", new { id = Model.ClientId })</p>
<hr>
<p>@Html.ActionLink("Full client list", "Index", "Clients")</p>
